<!DOCTYPE html>
<html>
<head>
  <title>Warranty Form Submission</title>
</head>
<body>
  <h2>New Warranty Form Submitted</h2>
  <p><b>Product Name:</b> <%= product_name %></p>
  <p><b>Purchase Date:</b> <%= purchase_date %></p>
  <p><b>Invoice No:</b> <%= purchase_invoice_no %></p>
  <p><b>SKU Purchased:</b> <%= sku_purchased %></p>
  <p><b>No of Buckets:</b> <%= no_bucket %></p>
  <p><b>Quantity (Litres):</b> <%= quantity_titres %></p>
  <p><b>MFG Date:</b> <%= mfg_date %></p>
  <p><b>Application Completion Date:</b> <%= application_completion_date %></p>
  
  <h3>Dealer Details</h3>
  <p><b>Name:</b> <%= dealer_name %></p>
  <p><b>Mobile:</b> <%= dealer_mobile %></p>
  <p><b>Address:</b> <%= dealer_address %></p>  

  <h3>Contractor Details</h3>
  <p><b>Name:</b> <%= contractor_name %></p>
  <p><b>Mobile:</b> <%= contractor_molile %></p>

  <h3>Customer Details</h3>
  <p><b>Full Name:</b> <%= full_name %></p>
  <p><b>Mobile:</b> <%= mobile_number %></p>
  <p><b>Email:</b> <%= active_mail %></p>
  <p><b>Site Address:</b> <%= site_address %></p>
  <p><b>State:</b> <%= your_state %></p>
  <p><b>City:</b> <%= your_city %></p>

  <p><b>Attached Invoice:</b> <%= attached_invoices %></p>
</body>
</html>
